In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#Import main dataframe 
df = pd.read_csv('data/temp/movie_df')
df['date'] = pd.to_datetime(df['date'])
df.info()

#note: there is a second dataframe that only includes entries with 'budget' and 'revenue' > $500

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45443 entries, 0 to 45442
Data columns (total 22 columns):
adult                45443 non-null bool
budget               45443 non-null int64
kaggle_id            45443 non-null int64
imdb_id              45443 non-null object
original_language    45432 non-null object
original_title       45443 non-null object
overview             44491 non-null object
popularity           45443 non-null float64
date                 45443 non-null datetime64[ns]
revenue              45443 non-null float64
runtime              45188 non-null float64
status               45362 non-null object
tagline              20408 non-null object
title                45443 non-null object
video                45443 non-null bool
vote_avg             45443 non-null float64
vote_count           45443 non-null float64
GENRES               45443 non-null object
COLLECTION           4488 non-null object
LANGUAGES            45443 non-null object
PRODUCER             45443 non-null object
COUNTRIES            45443 non-null object
dtypes: bool(2), datetime64[ns](1), float64(5), int64(2), object(12)
memory usage: 7.0+ MB

In [3]:
#Importing df subset
df_money = pd.read_csv('data/temp/movie_money_df')
df_money['date'] = pd.to_datetime(df['date'])
df_money.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5312 entries, 0 to 5311
Data columns (total 22 columns):
adult                5312 non-null bool
budget               5312 non-null int64
kaggle_id            5312 non-null int64
imdb_id              5312 non-null object
original_language    5312 non-null object
original_title       5312 non-null object
overview             5302 non-null object
popularity           5312 non-null float64
date                 5312 non-null datetime64[ns]
revenue              5312 non-null float64
runtime              5311 non-null float64
status               5312 non-null object
tagline              4587 non-null object
title                5312 non-null object
video                5312 non-null bool
vote_avg             5312 non-null float64
vote_count           5312 non-null float64
GENRES               5312 non-null object
COLLECTION           1220 non-null object
LANGUAGES            5312 non-null object
PRODUCER             5312 non-null object
COUNTRIES            5312 non-null object
dtypes: bool(2), datetime64[ns](1), float64(5), int64(2), object(12)
memory usage: 840.5+ KB

In [6]:
df_money['BUDGET_MIL'] = df_money['budget'] / 1000000
df_money['REVENUE_MIL'] = df_money['revenue'] / 1000000

In [8]:
df_money['PROFIT'] = df_money['REVENUE_MIL'] / df_money['BUDGET_MIL']
df_money['PROFIT'].describe()

count     5312.000000
mean         9.063112
std        189.478998
min          0.000210
25%          0.799330
50%          2.068035
75%          4.239721
max      12890.386667
Name: PROFIT, dtype: float64