# Movie Project - Data Processing Notebook
 

## Github repo:
https://github.com/akharina/dc-ds_movie_project.git


## Data directory:
* data/raw          : provided datasets
* data/raw/kaggle   : data from [Kaggle](https://www.kaggle.com/rounakbanik/the-movies-dataset)


## Workflow:
1. Exploring datasets
2. Merging two datasets to work with
3. Going through every relevant column to clean and reformat data as necessary
4. Remove unwanted columns from final dataset and save the file as a compressed csv file

## Final dataset : data/final/movie_dataset_df.csv.gz

In [1]:
#Importing all necessary tools

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yaml 

%matplotlib inline

In [2]:
kaggle_movies = pd.read_csv('data/raw/kaggle/movies_metadata.csv.gz')
kaggle_movies.head()

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
df_crew = pd.read_csv('data/raw/kaggle/credits.csv.gz')
df_crew.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
#Merging main dataframe with crew dataframe 
df_crew['id'] = df_crew['id'].astype(str)
df = pd.merge(kaggle_movies, df_crew, how = 'left', on='id')
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [5]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew'],
      dtype='object')

In [6]:
#Renaming column names into shorter, more meaningful names
df = df.rename(columns={'belongs_to_collection':'collection','spoken_languages':'languages','release_date': 'date', 'vote_average': 'vote_avg'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45542 entries, 0 to 45541
Data columns (total 26 columns):
adult                   45542 non-null object
collection              4503 non-null object
budget                  45542 non-null object
genres                  45542 non-null object
homepage                7795 non-null object
id                      45542 non-null object
imdb_id                 45525 non-null object
original_language       45531 non-null object
original_title          45542 non-null object
overview                44588 non-null object
popularity              45537 non-null object
poster_path             45156 non-null object
production_companies    45539 non-null object
production_countries    45539 non-null object
date                    45455 non-null object
revenue                 45536 non-null float64
runtime                 45279 non-null float64
languages               45536 non-null object
status                  45455 non-null object
tagline                 20439 non-null object
title                   45536 non-null object
video                   45536 non-null object
vote_avg                45536 non-null float64
vote_count              45536 non-null float64
cast                    45538 non-null object
crew                    45538 non-null object
dtypes: float64(4), object(22)
memory usage: 9.4+ MB

In [7]:
#Dropping rows without imdb id (there are only 17 of them and all have 0 revenues)

not_in_imdb = df.loc[df['imdb_id'].isna() == True].index
df.drop(not_in_imdb, inplace = True)

## Going column-by-column to check for null values and reshape into intended format if necessary

### "adult" column

In [8]:
#Column 'adult'
df['adult'].isna().sum()

#Changing column 'adult' to boolean
df['adult'] = df['adult'].astype('bool')
df.adult.dtype

dtype('bool')

### "date" column

In [9]:
#Changing null values in column 'date' into an impossible date
df['date'] = df['date'].fillna('1800-01-01')
df['date'].isnull().sum()

0

In [10]:
#check for unusual values in 'date' columns: proper date should have 10
#characters 

df['date'].apply(len).value_counts()

10    45522
2         2
1         1
Name: date, dtype: int64

In [11]:
#Checking the index of the weird values above and removing those rows
weird_date = df['date'].loc[df['date'].apply(len) < 10]
df = df.drop(index=list(weird_date.index))

df['date'].apply(len).value_counts()

10    45522
Name: date, dtype: int64

In [12]:
#Changing column 'date' to datetime
df['date'] = pd.to_datetime(df['date'])

In [13]:
#Adding "WEEK", "MONTH", and "YEAR" columns

df['WEEK'] = df['date'].dt.week
df['MONTH'] = df['date'].dt.month_name()
df['YEAR'] = df['date'].dt.year

### "languages" column

In [14]:
df_null = df.loc[df['languages'].isna()]
df = df.drop(index = list(df_null.index))

In [15]:
#Parsing 'languages' column into a new list
df['LANGUAGES'] = df['languages'].apply(lambda yaml_obj: [dict_obj['name'] for dict_obj in yaml.load(yaml_obj)])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

### "collection" column

In [16]:
#Filling null value in 'collection' column with an empty dictionary
df['collection'].fillna("{'name':''}",inplace=True)

In [17]:
yaml.load(df['collection'][12])['name']

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  """Entry point for launching an IPython kernel.

'Balto Collection'

In [18]:
#Parsing 'collection' column and get 'collection name', place values into a new column ['COLLECTION']
df['COLLECTION'] = df['collection'].apply(lambda yaml_obj: yaml.load(yaml_obj)['name'])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

### "budget" column

In [19]:
#Changing type to int and making unit $million for readibility

df['budget'] = pd.to_numeric(df['budget'])
df['BUDGET_MIL'] = df['budget'] / 1000000

#Reassigning 0 values to a negative value for easy filtering
def budget_no_zero(value):
    if value > 0:
        return value
    else:
        return -2

df['BUDGET_MIL'] = df['BUDGET_MIL'].apply(budget_no_zero)

df['BUDGET_MIL'].describe()

count    45519.000000
mean         2.616455
std         17.820755
min         -2.000000
25%         -2.000000
50%         -2.000000
75%         -2.000000
max        380.000000
Name: BUDGET_MIL, dtype: float64

In [ ]:
df.loc[df['BUDGET_MIL']]

### "genres" column

In [20]:
#Parsing items in Genres column (originally a list of dictionary)

df['GENRES'] = df['genres'].apply(lambda yaml_obj: [dict_obj['name'] for dict_obj in yaml.load(yaml_obj)])
df['GENRES'].head()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  This is separate from the ipykernel package so we can avoid doing imports until

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: GENRES, dtype: object

### "production companies" column

In [21]:
#Parsing items into 'PRODUCER' colum (originally a list of dictionary)
df['PRODUCER'] = df['production_companies'].apply(lambda yaml_obj: [dict_obj['name'] for dict_obj in yaml.load(yaml_obj)])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

### "production countries" column

In [22]:
df['COUNTRIES'] = df['production_countries'].apply(lambda yaml_obj: [dict_obj['name'] for dict_obj in yaml.load(yaml_obj)])

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  """Entry point for launching an IPython kernel.

### "revenue" column

In [23]:
#Making unit $million for readibility
df['REVENUE_MIL'] = df['revenue'] / 1000000

#Reassigning 0 values to a negative value for easy filtering
def revenue_no_zero(value):
    if value > 0:
        return value
    else:
        return -1


df['REVENUE_MIL'] = df['REVENUE_MIL'].apply(revenue_no_zero)
    

df['REVENUE_MIL'].describe()

count    45519.000000
mean        10.365722
std         64.439931
min         -1.000000
25%         -1.000000
50%         -1.000000
75%         -1.000000
max       2787.965087
Name: REVENUE_MIL, dtype: float64

### Retrieve producers, directors, and writers from "crew" column

In [24]:
df_null = df.loc[df['crew'].isna()]

In [25]:
list_dir = [dict_obj['name'] for dict_obj in yaml.load(df_crew['crew'][5]) if dict_obj['department'] == 'Directing']
list_dir

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  """Entry point for launching an IPython kernel.

['Michael Mann', 'Cate Hardman', 'Michael Waxman']

In [26]:

def get_directors(yaml_obj):
    directors = []
    try:
        yaml_obj_read = yaml.load(yaml_obj)
        for dict_obj in yaml_obj_read:
            if dict_obj['department'] == 'Directing':
                directors.append(dict_obj['name'])
    except:
        pass
    return directors

df['Directors'] = df['crew'].apply(get_directors)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  after removing the cwd from sys.path.

In [27]:
df['Directors'].head()

0    [John Lasseter, Roman Figun, DesirÃ©e Mourad]
1                                  [Joe Johnston]
2                                 [Howard Deutch]
3                               [Forest Whitaker]
4                                 [Charles Shyer]
Name: Directors, dtype: object

In [28]:

def get_writers(yaml_obj):
    writers = []
    try:
        yaml_obj_read = yaml.load(yaml_obj)
        for dict_obj in yaml_obj_read:
            if dict_obj['department'] == 'Writing':
                writers.append(dict_obj['name'])
    except:
        pass
    return writers

df['Writers'] = df['crew'].apply(get_writers)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  after removing the cwd from sys.path.

In [29]:
df['Writers'].head()

0    [Joss Whedon, Andrew Stanton, Joel Cohen, Alec...
1    [Jonathan Hensleigh, Chris van Allsburg, Greg ...
2           [Mark Steven Johnson, Mark Steven Johnson]
3        [Ronald Bass, Terry McMillan, Terry McMillan]
4                       [Nancy Meyers, Albert Hackett]
Name: Writers, dtype: object

In [30]:
def get_expro(yaml_obj):
    expros = []
    try:
        yaml_obj_read = yaml.load(yaml_obj)
        for dict_obj in yaml_obj_read:
            if dict_obj['job'] == 'Executive Producer':
                expros.append(dict_obj['name'])
    except:
        pass
    return expros

df['ExPro'] = df['crew'].apply(get_expro)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  after removing the cwd from sys.path.

In [31]:
df['ExPro'].head()

0                        [Ed Catmull, Steve Jobs]
1    [Larry J. Franco, Ted Field, Robert W. Cort]
2                                              []
3                                [Terry McMillan]
4                                              []
Name: ExPro, dtype: object

### Retrieve top 3 actor names from "cast" columnÂ¶

In [32]:
#Defining a function to parse top 3 actor names in each movie.
#The function ignores entries that trigger an error

def get_actors(yaml_obj):
    actors = []
    try:
        yaml_obj_read = yaml.load(yaml_obj)
        for dict_obj in yaml_obj_read:
            if dict_obj['order'] < 3:
                actors.append(dict_obj['name'])
    except:
        pass
    return actors

df['ACTORS'] = df['cast'].apply(get_actors)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  import sys

In [33]:
df['ACTORS'].head()

0                  [Tom Hanks, Tim Allen, Don Rickles]
1       [Robin Williams, Jonathan Hyde, Kirsten Dunst]
2           [Walter Matthau, Jack Lemmon, Ann-Margret]
3    [Whitney Houston, Angela Bassett, Loretta Devine]
4           [Steve Martin, Diane Keaton, Martin Short]
Name: ACTORS, dtype: object

### End of processing by column.
#### Removing unwanted columns for the final dataframe

In [34]:
df.columns

Index(['adult', 'collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries', 'date',
       'revenue', 'runtime', 'languages', 'status', 'tagline', 'title',
       'video', 'vote_avg', 'vote_count', 'cast', 'crew', 'WEEK', 'MONTH',
       'YEAR', 'LANGUAGES', 'COLLECTION', 'BUDGET_MIL', 'GENRES', 'PRODUCER',
       'COUNTRIES', 'REVENUE_MIL', 'Directors', 'Writers', 'ExPro', 'ACTORS'],
      dtype='object')

In [35]:
#Removing unwanted columns for the final dataframe
df = df.drop(columns = ['collection','genres','homepage','poster_path','languages', \
                        'production_companies','production_countries'])

In [37]:
#Exporting final dataframe to dir data/final/movie_dataset_df, making sure that the file is compressed to save memory
df.to_csv('data/final/movie_dataset_df.csv.gz', index=False, compression='gzip')

## Additional: getting a list of departments and jobs involved in a movie for future work

In [38]:
list_dept = [dict_obj['department'] for dict_obj in yaml.load(df_crew['crew'][5])]
set(list_dept)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  """Entry point for launching an IPython kernel.

{'Art',
 'Camera',
 'Costume & Make-Up',
 'Crew',
 'Directing',
 'Editing',
 'Lighting',
 'Production',
 'Sound',
 'Visual Effects',
 'Writing'}

In [39]:
list_job = [dict_obj['job'] for dict_obj in yaml.load(df_crew['crew'][5])]
set(list_job)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  """Entry point for launching an IPython kernel.

{'Additional Soundtrack',
 'Art Department Coordinator',
 'Art Direction',
 'Assistant Art Director',
 'Assistant Costume Designer',
 'Assistant Director',
 'Associate Producer',
 'Camera Operator',
 'Casting',
 'Casting Associate',
 'Construction Coordinator',
 'Costume Design',
 'Costume Supervisor',
 'Dialogue Editor',
 'Digital Effects Supervisor',
 'Director',
 'Director of Photography',
 'Editor',
 'Executive Producer',
 'First Assistant Camera',
 'First Assistant Editor',
 'Hairstylist',
 'Key Hair Stylist',
 'Makeup Artist',
 'Music Editor',
 'Music Supervisor',
 'Original Music Composer',
 'Producer',
 'Production Design',
 'Rigging Gaffer',
 'Screenplay',
 'Script Supervisor',
 'Set Costumer',
 'Set Decoration',
 'Sound Re-Recording Mixer',
 'Sound Recordist',
 'Special Effects',
 'Special Effects Coordinator',
 'Steadicam Operator',
 'Still Photographer',
 'Stunt Coordinator',
 'Stunts',
 'Supervising Sound Editor',
 'Technical Supervisor',
 'Unit Production Manager',
 'Visual Effects Supervisor'}